*{
    margin: 0;
    padding: 0;
}
.box{
    width: 210px;
    height: 210px;
    border: 2px solid #000000;
    /*margin: 0 auto;*/
    background-image: -webkit-linear-gradient(top,#ffffff,#cccccc);
    display: flex;
    border-radius: 10px;
    float: left;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    margin: 10px;
}
.box1{
    justify-content: center;
}
.box2{
    justify-content: flex-end;
}
.box3{
    align-items: center;
}
.box4{
    justify-content: center;
    align-items: center;
}
.box5{
    justify-content: center;
    align-items: flex-end;
}
.box6{
    justify-content: flex-end;
    align-items: flex-end;
}
.box7{
    justify-content: space-between;
}
.box8{
    flex-direction: column;
    justify-content: space-between;
}
.box9{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.box10{
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.circle1:last-child{
    align-self: center;
}
.circle2:nth-child(2){
    align-self: center;
}
.circle3{
    align-self: flex-end;
}
.box12{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}
.box13{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.column{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.box14{
    flex-wrap: wrap;
    align-content: space-between;
}
.box15{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.box16{
    display: flex;
    flex-wrap: wrap;
}
.round{
    flex-basis: 100%;
    display: flex;
}
.round:nth-child(2){
    justify-content: center;
}
.round:nth-child(3){
    justify-content: space-between;
}
.box17{
    flex-wrap: wrap;
}